/*Estilos del main de contacto*/
.contenedor-contacto{
    display: flex;
    justify-content: space-around;
    padding: 3em;
}
.contenedor-contacto article{
    width: calc(50% - 2em);
    padding: 1em;;
}
.contacto{
    display: flex;
    flex-direction: column;
}
.main-contacto{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.mapa-contacto{
    margin: auto;
    text-align: center;
}
.mapa-contacto iframe{
    width: 100%;
    height: 300px;
}
/*.input-formulario{
    border-radius: 1em;
    height: 2em;
 
}*/
.box-mensaje{
    height: 7em;
    /*border-radius: 1em;*/
    box-sizing: border-box;
    padding: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    
}
.boton-contacto{
    display: inline-block;
    width: 5em;
    height: 2em;
    border-radius: 0.3em;
   
}
#color-formulario{
    background-color: rgba(208, 198, 198, 0.796);
    border-radius: 0.5em;
    opacity: 0.8;
}

body {
    background-color: #FFEBEE
}

.card {
    width: 400px;
    background-color: #fff;
    border: none;
    border-radius: 12px
}

label.radio {
    cursor: pointer;
    width: 100%
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 7px 14px;
    border: 2px solid #eee;
    display: inline-block;
    color: #039be5;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    line-height: 27px
}

label.radio input:checked+span {
    border-color: #039BE5;
    background-color: #81D4FA;
    color: rgb(158, 157, 157);
    border-radius: 9px;
    height: 48px;
    line-height: 27px
}

.form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #5DA5B5
}

.agree-text {
    font-size: 12px
}

.terms {
    font-size: 12px;
    text-decoration: none;
    color: #039BE5
}

.confirm-button {
    height: 50px;
    border-radius: 10px;
    width: 100%;
   background-color: #5DA5B5 !important;
   border-color: #4f9cad !important;
    
}