@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Lemonada&family=Work+Sans&display=swap");
@import "../fonts/fuentes.css";
@import "all.css";

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/white-waves.png);
  /*background-color: #fafafa !important;*/
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
  font-family: "Chewy", cursive;
  font-weight: 100;
  color: #74c4c4;
}
h2 {
  padding: 1em;
  font-family: "Lemonada", cursive;
  color: #5da5b5;
}

p {
  padding: 5px;
}

main {
  margin: auto;
  margin-top: 80px;
  height: 600px;
  width: 100%;
  margin-bottom: 1em;
}

.imagenlogo {
  margin-left: 20px;
  width: 80%;
}

.menu {
  width: 100%;
  margin-left: 40%;
}

.confirm-button {
  height: 50px;
  border-radius: 10px;
  width: 100%;
  background-color: #94d4d4 !important;
  border-color: #74c4c4 !important;
}
